
body{
    margin-top: 10%;
}
.footer{
    background-color: lightgray;
    color: black;
    text-align: center;
    font-size: small;
}
@media screen and (max-width: 750px)
{
    body{
       margin-top: 30%;
    }
}
@media screen and (max-width: 400px)
{
    body{
       margin-top: 45%;
    }
}


